@using WideWorldImporters.Extensions
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<data-table id="peopleTable"
            class="table table-hover"
            options=@(
    new DataTableOptions
    {
        ServerSide=true,
        SearchDelay=1000,
        Ajax = new DataTableOptionsAjax
        {
            Url = "/dt/people",
            DataSrc = "data",
            Type = "POST"
        },
        DrawCallback = "function(settings) { $('[data-toggle=\"tooltip\"]').tooltip(); }",
        Responsive=true
    })>
    <columns>
        <merged-column def=@(
            new DataTableOptionsColumn
            {
                ClassName = "text-nowrap"
            })>
            <column def=@(
                new DataTableOptionsColumn<PersonDto, bool>
                {
                    Data = nameof(PersonDto.IsPermittedToLogon).ToCamelCase(),
                    RenderFunction = (data, type, row, meta) =>
                        "<span data-toggle='tooltip' title='" + nameof(PersonDto.IsPermittedToLogon) + "' class='pl-1'>" +
                        "<i class='fas fa-sign-in-alt' style='color:" + (data? "black" : "lightgray") + "'></i>" +
                        "</span>"
                })>
            </column>
            <column def=@(
                new DataTableOptionsColumn<PersonDto, bool>
                {
                    Data = nameof(PersonDto.IsExternalLogonProvider).ToCamelCase(),
                    RenderFunction = (data, type, row, meta) =>
                        "<span data-toggle='tooltip' title='" + nameof(PersonDto.IsExternalLogonProvider) + "' class='pl-1'>" +
                        "<i class='fas fa-external-link-alt' style='color:" + (data? "black" : "lightgray") + "'></i>" +
                        "</span>"

                })>
            </column>
            <column def=@(
                new DataTableOptionsColumn<PersonDto, bool>
                {
                    Data = nameof(PersonDto.IsSystemUser).ToCamelCase(),
                    RenderFunction = (data, type, row, meta) =>
                        "<span data-toggle='tooltip' title='" + nameof(PersonDto.IsSystemUser) + "' class='pl-1'>" +
                        "<i class='fas fa-desktop' style='color:" + (data? "black" : "lightgray") + "'></i>" +
                        "</span>"
                })>
            </column>
            <column def=@(
                new DataTableOptionsColumn<PersonDto, bool>
                {
                    Data = nameof(PersonDto.IsEmployee).ToCamelCase(),
                    RenderFunction = (data, type, row, meta) =>
                        "<span data-toggle='tooltip' title='" + nameof(PersonDto.IsEmployee) + "' class='pl-1'>" +
                        "<i class='fas fa-building' style='color:" + (data? "black" : "lightgray") + "'></i>" +
                        "</span>"
                })>
            </column>
            <column def=@(
                new DataTableOptionsColumn<PersonDto, bool>
                {
                    Data = nameof(PersonDto.IsSalesperson).ToCamelCase(),
                    RenderFunction = (data, type, row, meta) =>
                        "<span data-toggle='tooltip' title='" + nameof(PersonDto.IsSalesperson) + "' class='pl-1'>" +
                        "<i class='fas fa-dollar-sign' style='color:" + (data? "black" : "lightgray") + "'></i>" +
                        "</span>"
                })>
            </column>
        </merged-column>
    </columns>
    <bind-model type=@typeof(PersonDto)
                exclude=@(new string[]{
                    nameof(PersonDto.IsPermittedToLogon),
                    nameof(PersonDto.IsExternalLogonProvider),
                    nameof(PersonDto.IsSystemUser),
                    nameof(PersonDto.IsEmployee),
                    nameof(PersonDto.IsSalesperson)}) />
</data-table>

@section scripts {}