
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<data-table id="peopleTable"
            class="table table-hover"
            bind-dto=typeof(PersonDto)
            options=@(
    new DataTableOptions {
        ServerSide=true,
        SearchDelay=1000,
        Ajax = new DataTableOptionsAjax
        {
            Url = "/dt/people",
            DataSrc = "data",
            Type = "POST"
        }
    })>
</data-table>

@section scripts
    {
}