<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bundled.css" />
    <script type="text/javascript" src="~/js/bundled.js"></script>
</head>
<body>
    <div class="container">
        @Html.Partial("_NavbarPartial")
        @RenderBody()
    </div>
</body>

@RenderSection("scripts")
</html>
