<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/dataTables.css" />

    <script type="text/javascript" src="~/js/lib.js"></script>
    <script type="text/javascript" src="~/js/dataTables.js"></script>
</head>
<body>
    <div class="container">
        @Html.Partial("NavbarPartial")
        @RenderBody()
    </div>
</body>

@RenderSection("scripts")
</html>
